<div>Debug:</div>
<div>{{ ValuesItem | json}}</div>
<form #formMultiLanguage="NgFormular" labelsize="3">
  <sac-validationsummary></sac-validationsummary>
  <sac-multilanguageinput name="mlInput1" [(ngModel)]="ValuesItem.Model1" label="Input 1"></sac-multilanguageinput>
  <sac-multilanguageinput name="mlInput2" [(ngModel)]="ValuesItem.Model2" [requiredany]="true" label="Input 2"></sac-multilanguageinput>
  <sac-multilanguageinput name="mlInput3" [(ngModel)]="ValuesItem.Model3" [isrequired]="true" label="Input 3"></sac-multilanguageinput>
  <sac-multilanguageinput name="mlInput4" [(ngModel)]="ValuesItem.Model4" [isrequired]="true" label="Input 4" [disabled]="true"></sac-multilanguageinput>
  <sac-multilanguageinputarea name="mlInput5" [(ngModel)]="ValuesItem.Model5" [requiredany]="true" label="Area 5"></sac-multilanguageinputarea>

  <sac-button name="speichern" text="Speichern" (clicked)="save()"></sac-button>
  <div>Form State: {{formMultiLanguage.form.valid}}</div>
</form>
