<div>Template 1</div>

<div style="width: 800px; overflow-wrap: break-word;">
  {{GetFormValues()}}
</div>

<ngTab>
  <ngTabItem id="login" label="Login">
    <ng-template>
      <app-usercomponent></app-usercomponent>
    </ng-template>
  </ngTabItem>


  <ngTabItem id="form1" label="Form 1">
    <ng-template>
      <form #form>
        <ngInput name="testname1a" label="Eingabe 1" [(ngModel)]="testname1" [isrequired]="testrequired"></ngInput>
      </form>

      <form #myform="NgFormular" orientation="vertical">
        <ngValidationSummary></ngValidationSummary>

        <ngInput name="testname1" label="Eingabe 1" [(ngModel)]="testname1" [isrequired]="testrequired"></ngInput>
        <ngInput name="testname2" label="Eingabe 2" [(ngModel)]="testname2" isrequired="true"></ngInput>
        <ngInput name="testname3" label="Eingabe 3" [(ngModel)]="testname3"></ngInput>
        <ngInput name="testname4" label="Eingabe 4" value="Wert 1"></ngInput>
        <ngInput name="testname5" label="Eingabe 5" labelsize="4" ngModel></ngInput>
        <ngButton name="saveform" text="Speichern"></ngButton>
        <ngButton name="saveform2" text="Speichern" [isdisabled]="myform.form.invalid">Submit</ngButton>
        <ngButton name="saveform3" text="Speichern" (click)="onSubmit()">Submit</ngButton>
      </form>
    </ng-template>
  </ngTabItem>

  <ngTabItem id="formTemp" label="Temp">
    <ng-template>
      <div>Example Form</div>
      <form #formTemp="NgFormular" labelsize="3">
        <ngValidationSummary></ngValidationSummary>

        <ngRadiobuttons name="radiobuttons3" label="Radiobuttons 1" [(ngModel)]="values.radiobuttons1">
          <ngRadiobutton name="rb1" value="1" label="Wert 1"></ngRadiobutton>
          <ngRadiobutton name="rb2" value="2" label="Wert 2"></ngRadiobutton>
          <ngRadiobutton name="rb3" value="3" label="Wert 3"></ngRadiobutton>
        </ngRadiobuttons>

        <ngButton name="setDisabledState2" text="Set Disabled" (onclick)="formTemp.form.form.disabled ? formTemp.form.form.enable() : formTemp.form.form.disable()"></ngButton>

        <ngButton name="fButton1" text="Speichern" [isdisabled]="formTemp.form.invalid" (onclick)="t3Save()"></ngButton>

      </form>

      <form #formTemp2="NgFormular">

        <ngDropdown name="mannschaft" label="RAPPORT_MANNSCHAFT" [(ngModel)]="MannschaftsModel.SelectedId" [options]="MannschaftsModel.Items" optionlabel="Displaytext" optionvalue="Id" (ngModelChange)="FilterChanged(true)"
                    [emptyvalue]="null" emptylabel="RAPPOR_FILTER_ALLE"></ngDropdown>

        <ngDropdown name="spieler" label="RAPPORT_SPIELER" [(ngModel)]="SpielerModel.SelectedId" [options]="SpielerModel.Items" optionlabel="Displaytext" optionvalue="Id" (ngModelChange)="FilterChanged(true)"
                    [emptyvalue]="null" emptylabel="RAPPOR_FILTER_ALLE"></ngDropdown>

        <ngButton name="bLoadDropdown" text="Load Dropdown" (onclick)="LoadDropdownModels()"></ngButton>

        <div>{{ MannschaftsModel | json }}</div>

      </form>
    </ng-template>
  </ngTabItem>

  <ngTabItem id="formDialog" label="Dialog">
    <ng-template>
      <app-example-dialog></app-example-dialog>
    </ng-template>
  </ngTabItem>

  <!--<ngTabItem id="formUpload" label="Upload">
    <ng-template>
      <form #formExampleUpload="NgFormular">
        <ngValidationSummary></ngValidationSummary>
        <ngUpload endpoint="/services/api/upload/register" name="uploader1" label="Mein Bild 1" [(ngModel)]="values.fieldupload1" [isrequired]="true"></ngUpload>
        <ngUpload endpoint="/services/api/upload/register" name="uploader2" label="Mein Bild 2" [(ngModel)]="values.fieldupload2" [disablelabel]="true"></ngUpload>
        <ngUpload endpoint="/services/api/upload/register" name="uploader3" label="Mein Bild 3" [(ngModel)]="values.fieldupload3" allowedtypes=".pdf"></ngUpload>
        <ngUpload endpoint="/services/api/upload/register" name="uploader4" label="Mein Bild 4" [(ngModel)]="values.fieldupload4" maxfilesize="200000"></ngUpload>
        <ngUpload endpoint="/services/api/upload/register" name="uploader5" label="Mein Bild 5" [(ngModel)]="values.fieldupload5" [autoupload]="true"></ngUpload>
        <ngUpload endpoint="/services/api/upload/register" name="uploader6" label="Mein Bild 6" [(ngModel)]="values.fieldupload6" [enablepause]="false"></ngUpload>
        <ngUpload endpoint="/services/api/upload/register" name="uploader7" label="Mein Bild 7" [(ngModel)]="values.fieldupload7" [enablepause]="false" [autoupload]="true"></ngUpload>

        <ngUploadMultiple endpoint="/services/api/upload/register" name="uploader8" label="Mein Fileliste 1" [(ngModel)]="values.fieldmultipleupload1" maxfiles="4" [isrequired]="true" (onfileerror)="showmessage($event)"></ngUploadMultiple>
        <ngUploadMultiple endpoint="/services/api/upload/register" name="uploader9" label="Mein Fileliste 2" [(ngModel)]="values.fieldmultipleupload2" maxfiles="4" [enablepause]="false" (onfileerror)="showmessage($event)"></ngUploadMultiple>
        <ngUploadMultiple endpoint="/services/api/upload/register" name="uploader10" label="Mein Fileliste 3" [(ngModel)]="values.fieldmultipleupload3" maxfiles="4" [enablepause]="false" [autoupload]="true" (onfileerror)="showmessage($event)"></ngUploadMultiple>
        <ngUploadMultiple endpoint="/services/api/upload/register" name="uploader11" label="Mein Fileliste 4" [(ngModel)]="values.fieldmultipleupload4" maxfiles="4" minfiles="2" allowedtypes=".pdf" maxfilesize="200000" (onfileerror)="showmessage($event)"></ngUploadMultiple>


      </form>
      <p>
        Model Uploader 1: {{ values.fieldupload1 }}
      </p>
      <p>
        Model Uploader 8: {{ values.fieldmultipleupload1 }}
      </p>
      <p>
        Valid Form: {{ formExampleUpload.form.valid }}
      </p>
    </ng-template>
  </ngTabItem>-->

  <ngTabItem id="tabInput" label="Input">
    <ng-template>
      <div>Example Form</div>
      <form #form2="NgFormular" labelsize="3">
        <ngButton (onclick)="debugAction()" text="Action Debug"></ngButton>
        <ngValidationSummary></ngValidationSummary>

        <div ngModelGroup="Group1">
          <ngInputSearch name="field4search" label="Feld 4 Search" [(ngModel)]="values.field4" buttontext="Suchen"></ngInputSearch>
          <ngInputSearch name="field4search2" disablelabel="true" label="Feld 4 Search" [(ngModel)]="values.field4" buttontext="Suchen"></ngInputSearch>
          <ngInput name="field1" label="Feld 1" labelsize="2" isrequired="true" [(ngModel)]="values.field1"></ngInput>
          <ngInput name="field2" disablelabel="true" [(ngModel)]="values.field2"></ngInput>
          <ngInput name="field3" label="Feld 3" labelsize="4" [(ngModel)]="values.field3"></ngInput>
          <ngInput name="field4" label="Feld 4" [(ngModel)]="values.field4"></ngInput>
          <ngInput name="field5" label="Feld 5" placeholder="Feld 5" [(ngModel)]="values.field5"></ngInput>
          <ngInput name="field6" label="Feld 6 (Max 10)" [(ngModel)]="values.field6" [maxlength]="10"></ngInput>
          <ngInput name="field7" label="Feld 7" [(ngModel)]="values.field7" disabled="true"></ngInput>
        </div>
        <div ngModelGroup="Group2">
          <ngInputDecimal name="fieldd1" label="Decimal 1 (Decimal)" disablelabel="true" [(ngModel)]="values.fieldd1"></ngInputDecimal>
          <ngInputDecimal name="fieldd2" label="Decimal 2 (Decimal with Negativ)" [(ngModel)]="values.fieldd2" [allownegativ]="true"></ngInputDecimal>
          <ngInputDecimal name="fieldd3" label="Decimal 3 (Decimal with Negativ (10-20))" [(ngModel)]="values.fieldd3" [allownegativ]="true" isrequired="true" [minvalue]="10" [maxvalue]="20"></ngInputDecimal>
          <ngInputDecimal name="fieldd4" label="Decimal 4 (Decimal)" [(ngModel)]="values.fieldd1" disabled="true"></ngInputDecimal>

          <ngInputInteger name="fieldi1" label="Integer 1 (Integer)" [(ngModel)]="values.fieldi1"></ngInputInteger>
          <ngInputInteger name="fieldi2" label="Integer 2 (Integer with Negativ)" [(ngModel)]="values.fieldi2" [allownegativ]="true"></ngInputInteger>
          <ngInputInteger name="fieldi3" label="Integer 3 (Integer with Negativ (10-20))" [(ngModel)]="values.fieldi3" [allownegativ]="true" isrequired="true" [minvalue]="10" [maxvalue]="20"></ngInputInteger>
          <ngInputInteger name="fieldi4" label="Integer 1 (Integer)" [(ngModel)]="values.fieldi1" disabled="true"></ngInputInteger>


          <ngInputCurrency name="fieldcurrency1" label="Preis" [(ngModel)]="values.fieldcurrency1"></ngInputCurrency>
          <ngInputCurrency name="fieldcurrency2" label="Preis" [(ngModel)]="values.fieldcurrency2" disabled="true"></ngInputCurrency>

          <ngInputEmail name="fieldemail1" label="E-Mail 1" [(ngModel)]="values.fieldemail1"></ngInputEmail>
          <ngInputEmail name="fieldemail2" label="E-Mail 2 (Max 10)" [(ngModel)]="values.fieldemail2" [maxlength]="10"></ngInputEmail>
          <ngInputEmail name="fieldemail3" label="E-Mail 3" [(ngModel)]="values.fieldemail3" disabled="true"></ngInputEmail>

          <ngInputPassword name="fieldpassword1" label="Passwort 1" [(ngModel)]="values.fieldpassword1"></ngInputPassword>
          <ngInputPassword name="fieldpassword2" label="Passwort 2" [(ngModel)]="values.fieldpassword2"></ngInputPassword>
          <ngInputPassword name="fieldpassword3" label="Passwort 3 (Max 10)" [(ngModel)]="values.fieldpassword3" [maxlength]="10"></ngInputPassword>
          <ngInputPassword name="fieldpassword4" label="Passwort 4" [(ngModel)]="values.fieldpassword4" disabled="disabled"></ngInputPassword>


          <ngInputArea name="fieldarea1" label="Area 1" [(ngModel)]="values.fieldarea1"></ngInputArea>
          <ngInputArea name="fieldarea2" label="Area 2" [(ngModel)]="values.fieldarea2" isrequired="true" rows="10"></ngInputArea>
          <ngInputArea name="fieldarea3" label="Area 3 (Max 50)" [(ngModel)]="values.fieldarea3" maxlength="50"></ngInputArea>
          <ngInputArea name="fieldarea4" label="Area 4" [(ngModel)]="values.fieldarea4" disabled="true"></ngInputArea>
        </div>
        <div ngModelGroup="Group3">

          <ngCheckbox name="checkbox1" label="Checkbox 1" [(ngModel)]="values.checkbox1"></ngCheckbox>
          <ngCheckbox name="checkbox2" label="Checkbox 2" labelsize="2" [(ngModel)]="values.checkbox2"></ngCheckbox>
          <ngCheckbox name="checkbox3" label="Checkbox 3" disablelabel="true" [(ngModel)]="values.checkbox3"></ngCheckbox>
          <ngCheckbox name="checkbox4" label="Checkbox 4" [(ngModel)]="values.checkbox4" disabled="true"></ngCheckbox>
          <ngCheckbox name="checkbox5" label="Checkbox 5" [(ngModel)]="values.checkbox5" disabled="true" checkboxtext="Dies ist ein Text"></ngCheckbox>

          <ngRadiobuttons name="radiobuttons1" label="Radiobuttons 1" [(ngModel)]="values.radiobuttons1">
            <ngRadiobutton name="rb1" value="1" label="Wert 1"></ngRadiobutton>
            <ngRadiobutton name="rb2" value="2" label="Wert 2"></ngRadiobutton>
            <ngRadiobutton name="rb3" value="3" label="Wert 3"></ngRadiobutton>
          </ngRadiobuttons>

          <ngRadiobuttons name="radiobuttons2" label="Radiobuttons 2" [(ngModel)]="values.radiobuttons2">
            <ngRadiobutton name="rb1" value="1" label="Wert 1"></ngRadiobutton>
            <ngRadiobutton name="rb2" value="2" label="Wert 2"></ngRadiobutton>
            <ngRadiobutton name="rb3" value="3" label="Wert 3"></ngRadiobutton>
          </ngRadiobuttons>


          <div class="form-row form-group">
            <ngButton name="radio1Add" text="Add Radiobutton" (onclick)="radio1Add()"></ngButton>
            <ngButton name="radio1Remove" text="Remove Radiobutton" (onclick)="radio1Remove()"></ngButton>
            <ngButton name="radio1ChangeProperty" text="Change Property" (onclick)="radio1ChangeProperty()"></ngButton>
          </div>


          <ngDropdown name="dropdown1" label="Dropdown 1" [(ngModel)]="values.dropdown1" [options]="values.dropdownitems"></ngDropdown>


          <ngDropdown name="dropdown2" label="Dropdown 2" [(ngModel)]="values.dropdown2" [options]="values.dropdownitems" optionlabel="text"></ngDropdown>
          <ngDropdown name="dropdown3" label="Dropdown 3" [(ngModel)]="values.dropdown3" [options]="values.dropdownitems">
            <option value="x4">Inject Value</option>
          </ngDropdown>
          <ngDropdown name="dropdown4" label="Dropdown 4" [(ngModel)]="values.dropdown4" [options]="values.dropdownitems2" optionlabel="text" optionenabled="enabled"></ngDropdown>
          <ngDropdown name="dropdown5" label="Dropdown 5" [(ngModel)]="values.dropdown5" [options]="values.dropdownitems2" optionlabel="text"></ngDropdown>
          <ngDropdown name="dropdown6" label="Dropdown 6" [(ngModel)]="values.dropdown6" [options]="values.groupitems" groupitems="items"></ngDropdown>
          <ngDropdown name="dropdown7" label="Dropdown 7" [(ngModel)]="values.dropdown7" [options]="values.dropdownitems" isrequired="true">
            <option value="">Select Value</option>
          </ngDropdown>
          <ngDropdown name="dropdown8" label="Dropdown 8" [(ngModel)]="values.dropdown8" [options]="values.dropdownitems" isrequired="true"></ngDropdown>
          <ngDropdown name="dropdown9" label="Dropdown 9" [(ngModel)]="values.dropdown9" [options]="values.dropdownitems" emptylabel="Please select item"></ngDropdown>
          <ngDropdown name="dropdown10" label="Dropdown 10" [(ngModel)]="values.dropdown10" [options]="values.groupitems" groupitems="items" disablelabel="true"></ngDropdown>
          <ngDropdown name="dropdown11" label="Dropdown 11" [(ngModel)]="values.dropdown11" [options]="values.dropdownitems" disabled="true"></ngDropdown>
          <ngDropdown name="dropdown12" label="Dropdown 12" [(ngModel)]="values.dropdown12" [options]="values.dropdownitems3" optionlabel="text" optionid="value"></ngDropdown>

          <ngButton name="dropdownbutton12" text="Load" (onclick)="SetDropdownProperties()"></ngButton>

          <ngListbox name="listbox1" label="Listbox 1" [(ngModel)]="values.listbox1" [options]="values.dropdownitems"></ngListbox>
          <ngListbox name="listbox2" label="Listbox 2" [(ngModel)]="values.listbox2" [options]="values.dropdownitems"></ngListbox>
          <ngListbox name="listbox3" label="Listbox 3" [(ngModel)]="values.listbox3" [options]="values.dropdownitems" isrequired="true" labelsize="6" rowsize="6"></ngListbox>
          <ngListbox name="listbox4" label="Listbox 4" [(ngModel)]="values.listbox4" [options]="values.dropdownitems" isrequired="true"></ngListbox>
          <ngListbox name="listbox5" label="Listbox 5" [(ngModel)]="values.listbox5" [options]="values.dropdownitems" disabled="true"></ngListbox>

          <ngButton name="button1" text="Speichern" [isdisabled]="form2.form.invalid" (onclick)="t3Save()"></ngButton>
          <ngButton name="setDisabledState" text="Set Disabled" (onclick)="form2.form.form.disabled ? form2.form.form.enable() : form2.form.form.disable()"></ngButton>

          <ngTab>
            <ngTabItem id="home" label="Home">
              <p>Tab 1</p>
            </ngTabItem>
            <ngTabItem id="profile" label="Profile">
              <p>Tab 2</p>
            </ngTabItem>
            <ngTabItem id="messages" label="Messages">
              <p>Tab 3</p>
            </ngTabItem>
            <ngTabItem id="messages" label="Messages" [disabled]="true">
              <p>Disabled Tab</p>
            </ngTabItem>
          </ngTab>
        </div>
      </form>
    </ng-template>
  </ngTabItem>

  <ngTabItem id="tabFormGroup" label="NgFormGroup">
    <ng-template>
      <form name="myForm" #form3="ngForm" ngForm>
        <ngValidationSummary></ngValidationSummary>
        <div ngModelGroup="MyGroup">
          <ngInput [(ngModel)]="values.fieldarea1" name="xxmsdd" label="field 1" [isrequired]="true"></ngInput>
          <div ngModelGroup="MyGroup2">
            <ngInput [(ngModel)]="values.fieldarea2" name="xxmsd" label="field 2" [isrequired]="true"></ngInput>
          </div>
        </div>

        <ngButton (onclick)="debugAction()" text="Action Debug"></ngButton>
      </form>
    </ng-template>
  </ngTabItem>

  <ngTabItem id="tabSubform" label="SubForm">
    <ng-template>
      <div name="subform" #formSubForm="ngForm" ngForm>
        <ngValidationSummary></ngValidationSummary>

        <div ngModelGroup="MyGroup">
          <ngInput [(ngModel)]="values.fieldarea1" name="subformField1" label="field 1" [isrequired]="true"></ngInput>
          <div ngModelGroup="MyGroup2">
            <ngInput [(ngModel)]="values.fieldarea2" name="subformField2" label="field 2" [isrequired]="true"></ngInput>
          </div>

          <app-subform [(mymodel)]="values"></app-subform>

        </div>

        <div>Valid: {{ formSubForm.valid }}</div>
        <ngButton (onclick)="debugAction()" text="Action Debug"></ngButton>
      </div>
    </ng-template>
  </ngTabItem>

  <ngTabItem id="tabDate" label="Date & Time">
    <ng-template>
      <form #formDateTime="NgFormular" labelsize="3">
        <ngValidationSummary></ngValidationSummary>

        <ngDate name="datum1" label="Datum 1" [(ngModel)]="valuesDateTime.datum1"></ngDate>

        <ngDate name="datum2" label="Datum 2" [(ngModel)]="valuesDateTime.datum2" [isrequired]="true"></ngDate>

        <ngDate name="datum3" label="Datum 3 (Min 01.01.2018)" [(ngModel)]="valuesDateTime.datum3" mindate="01.01.2018"></ngDate>

        <ngDate name="datum4" label="Datum 4 (Max 31.12.2018)" [(ngModel)]="valuesDateTime.datum4" maxdate="31.12.2018"></ngDate>

        <ngDate name="datum5" label="Datum 5" [(ngModel)]="valuesDateTime.datum5" disabled="true"></ngDate>

        <ngTime name="time1" label="Zeit 1" [(ngModel)]="valuesDateTime.time1"></ngTime>

        <ngTime name="time2" label="Zeit 2 (Min. 10:00)" [(ngModel)]="valuesDateTime.time2" mintime="10:00"></ngTime>

        <ngTime name="time3" label="Zeit 3 (Max. 18:00)" [(ngModel)]="valuesDateTime.time3" maxtime="18:00"></ngTime>

        <ngTime name="time4" label="Zeit 4 (10:00 - 18:00)" [(ngModel)]="valuesDateTime.time4" mintime="10:00" maxtime="18:00"></ngTime>

        <ngTime name="time5" label="Zeit 5 (Disabled)" [(ngModel)]="valuesDateTime.time5" disabled="true"></ngTime>

        <ngTime name="time6" label="Zeit 5 (Required)" [(ngModel)]="valuesDateTime.time6" [isrequired]="true"></ngTime>

        <ngDateTime name="datetime1" label="Datum & Zeit 1" [(ngModel)]="valuesDateTime.datumzeit1"></ngDateTime>

        <ngDateTime name="datetime2" label="Datum & Zeit 2 (Min. 19.08.2018 14:00)" [(ngModel)]="valuesDateTime.datumzeit2" mindate="19.08.2018 14:00"></ngDateTime>

        <ngDateTime name="datetime3" label="Datum & Zeit 3 (Max. 19.08.2018 17:00)" [(ngModel)]="valuesDateTime.datumzeit3" maxdate="19.08.2018 17:00"></ngDateTime>

        <ngDateTime name="datetime4" label="Datum & Zeit 4 (Required)" [(ngModel)]="valuesDateTime.datumzeit4" [isrequired]="true"></ngDateTime>

        <ngDateTime name="datetime5" label="Datum & Zeit 5 (Disabled)" [(ngModel)]="valuesDateTime.datumzeit5" disabled="true"></ngDateTime>

        <ngDateSelector name="selector1" dateselection="true" timeselection="true"></ngDateSelector>

        <ngButton name="bDateTimeSave" text="Speichern" [isdisabled]="formDateTime.form.invalid" (onclick)="dateTimeSave()"></ngButton>

      </form>
    </ng-template>
  </ngTabItem>

  <ngTabItem id="tabGrid" label="Grid">
    <ng-template>
      <app-example-grid></app-example-grid>
    </ng-template>
  </ngTabItem>

  <ngTabItem id="tabMultiLanguage" label="MultiLanguage">
    <ng-template>
      <app-example-multilanguage></app-example-multilanguage>
    </ng-template>
  </ngTabItem>


</ngTab>

