<div class="row">
  <div class="col-4 text-left"><a (click)="monthBack()"><span class="fa fa-chevron-left"></span></a></div>
  <div class="col-4 text-center">{{_month+1}}/{{_year}}</div>
  <div class="col-4 text-right"><a (click)="monthNext()"><span class="fa fa-chevron-right"></span></a></div>
</div>
<div></div>
<div class="row">
  <ng-container *ngFor="let item of dates; let i=index">
    <div class="col text-center" style="cursor: pointer;"
         [style.background-color]="item.iscurrent ? 'red' : 'transparent'"
         [style.font-weight]="item.isselected ? 'bold' : 'normal'"
         (click)="selectDate(item.date)">{{ item.displaytext }}</div>
    <div class="w-100" *ngIf="i%7==6"></div>
  </ng-container>
</div>
