# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.angular/cache
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

# Test and Coverage Files
coverage/

projects/sac-bootstrap3/.angular/
projects/sac-bootstrap3/.nyc_output/
projects/sac-bootstrap3/cypress/screenshots/
projects/sac-bootstrap3/cypress/videos/

projects/sac-bootstrap4/.angular/
projects/sac-bootstrap4/.nyc_output/
projects/sac-bootstrap4/cypress/screenshots/
projects/sac-bootstrap4/cypress/videos/

projects/sac-bootstrap5/.angular/
projects/sac-bootstrap5/.nyc_output/
projects/sac-bootstrap5/cypress/screenshots/
projects/sac-bootstrap5/cypress/videos/

reports/