.svg-3d_glasses-dims {
    background-image: url('../sprite.view.svg#3d_glasses');
	width: 1024px;
	height: 1024px;
}

.svg-about-dims {
    background-image: url('../sprite.view.svg#about');
	width: 1024px;
	height: 1024px;
}

.svg-add-dims {
    background-image: url('../sprite.view.svg#add');
	width: 1024px;
	height: 1024px;
}

.svg-address_book2-dims {
    background-image: url('../sprite.view.svg#address_book2');
	width: 1024px;
	height: 1024px;
}

.svg-adhesive_tape-dims {
    background-image: url('../sprite.view.svg#adhesive_tape');
	width: 1024px;
	height: 1024px;
}

.svg-air_tube_carrier-dims {
    background-image: url('../sprite.view.svg#air_tube_carrier');
	width: 1024px;
	height: 1024px;
}

.svg-airbrush-dims {
    background-image: url('../sprite.view.svg#airbrush');
	width: 1024px;
	height: 1024px;
}

.svg-airplane-dims {
    background-image: url('../sprite.view.svg#airplane');
	width: 1024px;
	height: 1024px;
}

.svg-airplane2-dims {
    background-image: url('../sprite.view.svg#airplane2');
	width: 1024px;
	height: 1024px;
}

.svg-airplane2_landing-dims {
    background-image: url('../sprite.view.svg#airplane2_landing');
	width: 1024px;
	height: 1024px;
}

.svg-airplane2_starting-dims {
    background-image: url('../sprite.view.svg#airplane2_starting');
	width: 1024px;
	height: 1024px;
}

.svg-airship-dims {
    background-image: url('../sprite.view.svg#airship');
	width: 1024px;
	height: 1024px;
}

