.svg-3d_glasses-dims-32 {
    display: inline-block;
    vertical-align: middle;
    background: url('../sprite.view.svg#3d_glasses');
    min-width: 32px;
    max-width: 32px;
    width:32px;
    min-height: 32px;
    max-height: 32px;
    height: 32px;

    &.disabled {
        background: url('../sprite.view.svg#3d_glasses-disabled');
    }
}
.svg-about-dims-32 {
    display: inline-block;
    vertical-align: middle;
    background: url('../sprite.view.svg#about');
    min-width: 32px;
    max-width: 32px;
    width:32px;
    min-height: 32px;
    max-height: 32px;
    height: 32px;

    &.disabled {
        background: url('../sprite.view.svg#about-disabled');
    }
}
.svg-add-dims-32 {
    display: inline-block;
    vertical-align: middle;
    background: url('../sprite.view.svg#add');
    min-width: 32px;
    max-width: 32px;
    width:32px;
    min-height: 32px;
    max-height: 32px;
    height: 32px;

    &.disabled {
        background: url('../sprite.view.svg#add-disabled');
    }
}
.svg-address_book2-dims-32 {
    display: inline-block;
    vertical-align: middle;
    background: url('../sprite.view.svg#address_book2');
    min-width: 32px;
    max-width: 32px;
    width:32px;
    min-height: 32px;
    max-height: 32px;
    height: 32px;

    &.disabled {
        background: url('../sprite.view.svg#address_book2-disabled');
    }
}
.svg-adhesive_tape-dims-32 {
    display: inline-block;
    vertical-align: middle;
    background: url('../sprite.view.svg#adhesive_tape');
    min-width: 32px;
    max-width: 32px;
    width:32px;
    min-height: 32px;
    max-height: 32px;
    height: 32px;

    &.disabled {
        background: url('../sprite.view.svg#adhesive_tape-disabled');
    }
}
.svg-air_tube_carrier-dims-32 {
    display: inline-block;
    vertical-align: middle;
    background: url('../sprite.view.svg#air_tube_carrier');
    min-width: 32px;
    max-width: 32px;
    width:32px;
    min-height: 32px;
    max-height: 32px;
    height: 32px;

    &.disabled {
        background: url('../sprite.view.svg#air_tube_carrier-disabled');
    }
}
.svg-airbrush-dims-32 {
    display: inline-block;
    vertical-align: middle;
    background: url('../sprite.view.svg#airbrush');
    min-width: 32px;
    max-width: 32px;
    width:32px;
    min-height: 32px;
    max-height: 32px;
    height: 32px;

    &.disabled {
        background: url('../sprite.view.svg#airbrush-disabled');
    }
}
.svg-airplane-dims-32 {
    display: inline-block;
    vertical-align: middle;
    background: url('../sprite.view.svg#airplane');
    min-width: 32px;
    max-width: 32px;
    width:32px;
    min-height: 32px;
    max-height: 32px;
    height: 32px;

    &.disabled {
        background: url('../sprite.view.svg#airplane-disabled');
    }
}
.svg-airplane2-dims-32 {
    display: inline-block;
    vertical-align: middle;
    background: url('../sprite.view.svg#airplane2');
    min-width: 32px;
    max-width: 32px;
    width:32px;
    min-height: 32px;
    max-height: 32px;
    height: 32px;

    &.disabled {
        background: url('../sprite.view.svg#airplane2-disabled');
    }
}
.svg-airplane2_landing-dims-32 {
    display: inline-block;
    vertical-align: middle;
    background: url('../sprite.view.svg#airplane2_landing');
    min-width: 32px;
    max-width: 32px;
    width:32px;
    min-height: 32px;
    max-height: 32px;
    height: 32px;

    &.disabled {
        background: url('../sprite.view.svg#airplane2_landing-disabled');
    }
}
.svg-airplane2_starting-dims-32 {
    display: inline-block;
    vertical-align: middle;
    background: url('../sprite.view.svg#airplane2_starting');
    min-width: 32px;
    max-width: 32px;
    width:32px;
    min-height: 32px;
    max-height: 32px;
    height: 32px;

    &.disabled {
        background: url('../sprite.view.svg#airplane2_starting-disabled');
    }
}
.svg-airship-dims-32 {
    display: inline-block;
    vertical-align: middle;
    background: url('../sprite.view.svg#airship');
    min-width: 32px;
    max-width: 32px;
    width:32px;
    min-height: 32px;
    max-height: 32px;
    height: 32px;

    &.disabled {
        background: url('../sprite.view.svg#airship-disabled');
    }
}
