<div>Template 1</div>

<ngFormular #form="ngFormular">
  <div class="form-horizontal">
    <ngInput name="testname1" label="Eingabe 1" ngModel [isrequired]="testrequired"></ngInput>
    <ngInput name="testname2" label="Eingabe 2" ngModel isrequired="true"></ngInput>
    <ngInput name="testname3" label="Eingabe 3" ngModel="testname3"></ngInput>
    <ngInput name="testname4" label="Eingabe 4" value="Wert 1"></ngInput>
    <ngInput name="testname5" label="Eingabe 5" labelsize="4" ngModel></ngInput>
    <ngButton name="save" text="Speichern" enabled=""></ngButton>
    <button type="Submit" [disabled]="!myForm.form.valid">Submit</button>
    <button (click)="onSubmit()">Submit</button>
    <a (click)="changeRequired()">Change Required</a>

  </div>
</ngFormular>

<div>Example Form</div>
<ngFormular #form2="ngFormular" labelsize="3">
  <ngValidationSummary></ngValidationSummary>
  <ngInput name="field1" label="Feld 1" labelsize="2" isrequired="true" ngModel></ngInput>
  <ngInput name="field2" disablelabel="true" ngModel></ngInput>
  <ngInput name="field3" label="Feld 3" labelsize="4" [ngModel]="field3"></ngInput>
  <ngInput name="field4" label="Feld 4" ngModel></ngInput>
  <ngInput name="field5" label="Feld 5" placeholder="Feld 5" ngModel></ngInput>

  <ngInputDecimal name="fieldd1" label="Decimal 1 (Decimal)" [ngModel]="fieldd1"></ngInputDecimal>
  <ngInputDecimal name="fieldd2" label="Decimal 2 (Decimal with Negativ)" [ngModel]="fieldd2" [allownegativ]="true"></ngInputDecimal>
  <ngInputDecimal name="fieldd3" label="Decimal 3 (Decimal with Negativ (10-20))" [ngModel]="fieldd3" [allownegativ]="true" isrequired="true" [minvalue]="10" [maxvalue]="20"></ngInputDecimal>

  <ngInputInteger name="fieldi1" label="Integer 1 (Integer)" [ngModel]="fieldi1"></ngInputInteger>
  <ngInputInteger name="fieldi2" label="Integer 2 (Integer with Negativ)" [ngModel]="fieldi2" [allownegativ]="true"></ngInputInteger>
  <ngInputInteger name="fieldi3" label="Integer 3 (Integer with Negativ (10-20))" [ngModel]="fieldi3" [allownegativ]="true" isrequired="true" [minvalue]="10" [maxvalue]="20"></ngInputInteger>

  <ngCheckbox name="checkbox1" label="Checkbox 1" ngModel></ngCheckbox>
  <ngCheckbox name="checkbox2" label="Checkbox 2" labelsize="2" [ngModel]="checkbox2"></ngCheckbox>
  <ngCheckbox name="checkbox3" label="Checkbox 3" disablelabel="true" ngModel></ngCheckbox>
  <ngDropdown name="dropdown1" label="Dropdown 1" [ngModel]="dropdown1" [options]="dropdownitems"></ngDropdown>
  <ngDropdown name="dropdown2" label="Dropdown 2" [ngModel]="dropdown2" [options]="dropdownitems" optionlabel="text"></ngDropdown>
  <ngDropdown name="dropdown3" label="Dropdown 3" [ngModel]="dropdown3" [options]="dropdownitems">
    <option value="x4">Inject Value</option>
  </ngDropdown>
  <ngDropdown name="dropdown4" label="Dropdown 4" [ngModel]="dropdown4" [options]="dropdownitems2" optionlabel="text" optionenabled="enabled"></ngDropdown>
  <ngDropdown name="dropdown5" label="Dropdown 5" [ngModel]="dropdown5" [options]="dropdownitems2" optionlabel="text"></ngDropdown>
  <ngDropdown name="dropdown6" label="Dropdown 6" [ngModel]="dropdown6" [options]="groupitems" groupitems="items"></ngDropdown>
  <ngDropdown name="dropdown7" label="Dropdown 7" [ngModel]="dropdown7" [options]="dropdownitems" isrequired="true">
    <option value="">Select Value</option>
  </ngDropdown>
  <ngDropdown name="dropdown8" label="Dropdown 8" [ngModel]="dropdown8" [options]="dropdownitems" isrequired="true"></ngDropdown>
  <ngDropdown name="dropdown9" label="Dropdown 9" [ngModel]="dropdown9" [options]="dropdownitems" emptylabel="Please select item"></ngDropdown>

  <ngListbox name="listbox1" label="Listbox 1" [ngModel]="listbox1" [options]="dropdownitems"></ngListbox>
  <ngListbox name="listbox2" label="Listbox 2" [ngModel]="listbox2" [options]="dropdownitems"></ngListbox>
  <ngListbox name="listbox3" label="Listbox 3" [ngModel]="listbox3" [options]="dropdownitems" isrequired="true" labelsize="6" rowsize="6"></ngListbox>
  <ngListbox name="listbox4" label="Listbox 4" [ngModel]="listbox4" [options]="dropdownitems" isrequired="true"></ngListbox>

  <ngButton name="button1" text="Speichern" [isenabled]="form2.valid" (onclick)="t3Save(form2)"></ngButton>

  <ngButton name="modalOpen1" text="Modal öffnen" (onclick)="modal1dialog.show()"></ngButton>
  <ngDialog #modal1dialog [allowesc]="false" [backdrop]="false">
    <div dialogbody>      <p>Hello World</p></div>
    <div dialogfooter>
      <ngButton name="modalClose1" text="Schliessen" (onclick)="modal1dialog.hide()"></ngButton>
    </div>
  </ngDialog>

  <ngTab>
    <ngTabItem id="home" label="Home">
      <p>Tab 1</p>
    </ngTabItem>
    <ngTabItem id="profile" label="Profile">
      <p>Tab 2</p>
    </ngTabItem>
    <ngTabItem id="messages" label="Messages">
      <p>Tab 3</p>
    </ngTabItem>
    <ngTabItem id="messages" label="Messages" [disabled]="true">
      <p>Disabled Tab</p>
    </ngTabItem>
  </ngTab>

</ngFormular>
