<div>Template 1</div>

<ngFormular #form="ngFormular">
  <div class="form-horizontal">
    <ngInput name="testname1" label="Eingabe 1" ngModel [isrequired]="testrequired"></ngInput>
    <ngInput name="testname2" label="Eingabe 2" ngModel isrequired="true"></ngInput>
    <ngInput name="testname3" label="Eingabe 3" ngModel></ngInput>
    <ngInput name="testname4" label="Eingabe 4" value="Wert 1"></ngInput>
    <ngInput name="testname5" label="Eingabe 5" labelsize="4" ngModel></ngInput>
    <ngButton name="save" text="Speichern" enabled=""></ngButton>
    <button type="Submit" [disabled]="!myForm.form.valid">Submit</button>
    <button (click)="onSubmit()">Submit</button>
    <a (click)="changeRequired()">Change Required</a>

  </div>
</ngFormular>

<div>Example Form</div>
<ngFormular #form2="ngFormular">
  <ngInput name="field1" label="Feld 1" isrequired="true" ngModel></ngInput>
  <ngInput name="field2" disablelabel="true" ngModel></ngInput>
  <ngInput name="field3" label="Feld 2" labelsize="4" ngModel></ngInput>
  <ngButton name="button1" text="Speichern" [isenabled]="form2.valid" (onclick)="t3Save()"></ngButton>
</ngFormular>
